<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <connectionStrings>
    <add name="COMIP" connectionString="172.16.47.96" />
    <add name="COMPORT" connectionString="32150" />
  </connectionStrings>

</configuration>
